<h1>To Do List</h1>
<h3>Add a new task:</h3>
<form action='/view_tasks' method='post'>
  <label for='add-task'>Task Description</label>
  <input id='add-task' name='add-task' type='text'>
  <button type='submit'>Add task</button>
</form>
